<%= html.h1 "Simulação de Planos", id: 'title' %>
<%= html.h2 "Faça uma simulação e obtenha agora mesmo a melhor opção para seu perfil", class: 'center' %>
<%= 
  form_for :simulator, routes.plans_simulation_path, method: :get do
    div class: "head" do
      label "De", for: :from
      label "Para", for: :to
      label "Duração", for: :time
      label "Plano", for: :plan_option_id
    end
    div do
      fields_for "" do
        number_field :from
        number_field :to
        number_field :time
        select :plan_option_id, planoptions_select
      end
      button '+', class: "add-row", type: "button"
    end
    div class: "submit-row" do
      button 'Simular', type: "button"
    end
  end
%>
<%=
  html.table id: "main-rates" do 
    thead do
      th "Origem"
      th "Destino"
      th "Tempo"
      th "Plano FaleMais"
      th "Com FaleMais"
      th "Sem FaleMais"
    end
    tbody do
      tr class: "s-rate" do
        td "Não há valores simulados, insira nos campos acima e clique em Simular", colspan: 6
      end
    end
  end
%>
