$font-stack: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$primary-color: black;
$primary-color1: #212529;
$secondary-color: #e9e9e9;
$tertiary-color: whitesmoke;

body {
  background-color: white;
  font: 100% $font-stack;
  color: $primary-color;
  padding-top: 50px;
  display: flex;
  flex-flow: column;
}

nav {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 5px;
  width: 100%;
  height: 40px;

  #logo {
    color: #009fdb;
    font-size: 1.8rem;
    text-decoration: none;
    margin-left: 10px;

    &:hover {
      color: orange;
    }
  }
}

button {
  cursor: pointer;
}

#title {
  margin-left: 11rem;
}

.center {
  align-self: center;
}

#main-rates {
  font-size: 1.4rem;
  align-self: center;
  text-align: center;
  width: 40%;
  cursor: default;
  box-shadow: 3px 4px 11px -1px $primary-color;

  thead {
    background-color: $primary-color1;
    color: $tertiary-color;
  }

  th, tr, td {
    padding: 10px 15px;
  }

  tbody {
    tr:nth-child(odd) {
      background-color: #f3f3f3;
    }

    tr:nth-child(even) {
      background-color: $secondary-color;
    }

    tr:hover {
      background-color: #ffa50066;
    }
  }

  .price {
    text-align: right;
  }
}

#plan-mark {
  margin-top: 60px;
}

#simulator-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto 50px auto;
  width: 50%;

  div {
    width: 80%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 10px;

    .add-row, .del-row {
      width: 3.8rem;
      margin-right: -83px;
    }

    input, select, label {
      width: 11.25em;
    }
  }

  .submit-row {
    justify-content: end;

    button {
      font-size: 1.1rem;
      margin-top: 10px;
    }
  }

  input[type="number"] {
    height: 10px; 
  }

  select {
    font-size: 1.1rem;
  }
}
