<!DOCTYPE html>
<html>
  <head>
    <title>Telzir</title>
    <%= stylesheet 'application' %>
    <%= favicon %>
    <%= 
      html.nav do 
        link_to "Telzir", routes.root_path, id: "logo" 
      end
    %>
  </head>
  <body class='container'>
    <%= yield %>
  </body>
  <footer>
    <%= javascript "https://code.jquery.com/jquery-3.3.1.min.js", integrity: "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" %>
    <%= javascript 'application' %>
  </footer>
</html>
