<% if rates.any? %>
  <%= html.h2 "Conheça as nossas taxas:", class: "center" %>
  <%= 
    html.table id: "main-rates" do 
      thead do
        th "Origem"
        th "Destino"
        th "$/min"
      end
      tbody do
        rates.each do |rate|
          tr class: "rate" do
            td rate.from
            td rate.to
            td '%.2f' % rate.price, class: "price"
          end
        end
      end
    end
  %>
<%= "<h1 class='center' id='plan-mark'>Conheça nossos #{link_to "planos", routes.plans_path} e pague mais barato!</h1>" %>
<% else %>
  <%= html.p "Não há taxas cadastradas", class: "placeholder" %>
<% end %>
